{% extends 'base/base_app.html' %}

{% block page-header %}
    <a href="{% url 'core:group-list' %}">Группы</a> / <a href="{% url 'core:group-detail' group.id %}">Группа {{ group.name }}</a> / Редактировать
{% endblock %}

{% block header-buttons %}
    <input type="submit" class="btn btn-info" value="Сохранить" form="group-form">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post" id="group-form">
                {% csrf_token %}
                {{ form }}
            </form>
        </div>
    </div>
{% endblock %}
