{% extends 'base/base_app.html' %}

{% block header-buttons %}
    <input type="submit" form="my-organisation-form" value="Сохранить" class="btn btn-primary">
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="text-black-50 font-weight-bold">Моя организация</h3>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form action="" method="post" id="my-organisation-form">
            {% csrf_token %}
                <div class="form-errors"></div>
                {% for field in form %}
                    <div class="form-group row"><!-- comment -->
                        <label class="col-12 col-form-label col-lg-3 text-black-50 font-weight-bold">{{ field.label }}:</label>
                        <div class="col-12 col-lg-9">{{ field }}</div>
                        {% if field.errors %}
                            <span class="text-danger-400">{{ field.errors.as_text }}</span>
                        {% endif %}
                    </div><!-- /comment-->
                {% endfor %}
                
            </form>
        </div>
    </div>

{% endblock %}