{% extends 'base/base_app.html' %}


{% block meta %}
    <title>{{ instruction.name }}</title>
{% endblock %}


{% block page-header %}
        <a href="{% url 'instruction:list' %}">Список инструкций</a> /
        Страница инструкции
{% endblock %}


{% block header-buttons %}
    <a href="{% url 'instruction:update' instruction.id %}" class="btn btn-primary">Редактировать</a>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>{{ instruction.name }}</h5>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{ instruction.body|safe }}
        </div>
    </div>
{% endblock %}