{% extends 'base/base_app.html' %}


{% block page-header %}
    {% if instruction.check_obj.project %}
        <a href="{{ instruction.check_obj.project.get_absolute_url }}">Проект {{ instruction.check_obj.project.name }}</a> / Инструкция
    {% else %}
        <a href="{{ instruction.check_obj.get_absolute_url }}">{{ instruction.check_obj.title }}</a> / Инструкция
    {% endif %}

{% endblock %}


{% block header-buttons %}
    <a href="{% url 'instruction:update' instruction.id %}" class="btn btn-primary">Редактировать</a>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>{{ instruction.name }}</h5>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{ instruction.body|safe }}
        </div>
    </div>
{% endblock %}