{% extends 'base/base_app.html' %}
{% load staticfiles %}

{% block meta %}
    <title>Настройки стартовой страницы</title>
{% endblock %}

{% block css %}
    <script src="{% static 'assets/js/plugins/forms/inputs/formatter.min.js' %}"></script>
{% endblock %}

{% block page-header %}
    Настройки стартовой страницы
{% endblock %}


{% block header-buttons %}
    <input type="submit" form="index-page-form" class="btn btn-primary m-1" value="Сохранить">
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="text-black-50 font-weight-bold">Настройки стартовой страницы</h3>
        </div>
        <div class="card-body">
            <form action="" method="post" id="index-page-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {{ form.non_field_errors.as_text }}
                {% endif %}
                {% for field in form %}
                    <div class="form-group row"><!-- {{ field.label }} -->
                        <label class="col-12 col-lg-3 text-black-50 font-weight-bold" for="{{ field.id_for_label }}">{{ field.label }} :</label>
                        <div class="col-12 col-lg-9">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <span class="text-danger-400">{{ form.status.errors.as_text }}</span>
                        {% endif %}
                    </div><!-- /{{ field.label }}-->
                {% endfor %}
                
            </form>
        </div>
    </div>
{% endblock %}
