{% extends 'base/base_app.html' %}
{% load staticfiles %}


{% block meta %}
    <title>Завершенные проверки</title>
{% endblock %}


{% block css %}
    <style>
        .check:hover{
            background-color: #eeeeee !important;
        }
        .select2-container{
            width: 100%;
            min-width: 100% !important;
        }

        .select2-selection--single{
            border: none !important;
            border-bottom: 1px solid #ddd!important;
            border-radius: 0!important;
            display: flex;
            align-items: center;

            height: auto!important;
        }

        .select2-search--dropdown:after{
            display: none;
        }
    </style>

{% endblock %}


{% block page-header %}
    Проверки
{% endblock %}


{% block content %}

    <form action="" method="get">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="mb-2 mt-2">
                            <label class="text-black-50 font-weight-bold" for="{{ filter.form.start_date.id_for_label }}">Дата начала</label>
                            <div class="d-flex align-items-center">{{ filter.form.start_date }}</div>
                        </div>
                        <div class="mb-2 mt-2">
                            <label class="text-black-50 font-weight-bold" for="{{ filter.form.end_date.id_for_label }}">Дата окончания</label>
                            <div class="d-flex align-items-center">{{ filter.form.end_date }}</div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <label class="text-black-50 font-weight-bold" for="{{ filter.form.target.id_for_label }}">Цель</label>
                            {{ filter.form.target }}
                        </div>
                        <div class="mt-2 mb-2">
                            <label class="text-black-50 font-weight-bold" for="{{ filter.form.curator.id_for_label }}">Куратор</label>
                            {{ filter.form.curator }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row d-flex justify-content-center mb-2">
            <input type="submit" value="Показать" class="btn btn-dark m-1">
            <a href="{% url 'organisation:checks' organisation_id %}" class="btn btn-light m-1">Очистить</a>
        </div>


    </form>


    <div class="card">

        <div class="card-body d-flex flex-column justify-content-between">
            <div class="results">
                <div class="results-header row bg-light m-1 p-2" style="border-radius: 3px">
                    <div class="col-1 d-flex font-weight-bold text-black-50">ID</div>
                    <div class="col-1 d-flex font-weight-bold text-black-50">Статус</div>
                    <div class="col-1 d-flex font-weight-bold text-black-50">Дата начала</div>
                    <div class="col-1 d-flex font-weight-bold text-black-50">Дедлайн</div>
                    <div class="col-3 d-flex font-weight-bold text-black-50">Цель</div>
                    <div class="col-2 d-flex font-weight-bold text-black-50">Тайный покупатель</div>
                    <div class="col-2 d-flex font-weight-bold text-black-50">Куратор</div>
                    <div class="col-1 d-flex font-weight-bold text-black-50">Награда</div>
                </div>
                {% for check in checks %}
                    <a href="{{ check.get_absolute_url }}" class="d-flex row justify-content-between bg-light m-1 p-2 check" style="border-radius: 3px">
                        <div class="col-1  text-black-50">{{ check.id }}</div>
                        <div class="col-1"><span class="badge badge-info">{{ check.get_status_display }}</span></div>
                        <div class="col-1 text-black-50">{{ check.start_date }}</div>
                        <div class="col-1 text-black-50">{{ check.deadline }}</div>
                        <div class="col-3 text-black-50">{{ check.target.title }}</div>
                        <div class="col-2 text-black-50">{{ check.performer }}</div>
                        <div class="col-2 text-black-50">{{ check.curator }}</div>
                        <div class="col-1 text-black-50">{{ check.reward }}руб.</div>
                    </a>

                {% endfor %}

            </div>
        </div>

        {% if is_paginated %}
            <div class="d-flex justify-content-center mt-3 mb-3">

                <ul class="pagination shadow-1">

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page=1" class="page-link page-link-white legitRipple"><<</a></li>
                        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link page-link-white legitRipple"><</a></li>
                    {% endif %}
                    <li class="page-item active"><a href="#" class="page-link page-link-white legitRipple">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link page-link-white legitRipple">></a></li>
                        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link page-link-white legitRipple">>></a></li>
                    {% endif %}
                </ul>
            </div>

        {% endif %}


    </div>


{% endblock %}


{% block script %}
    {{ filter.form.media }}
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
    <script>
        let options = {
            monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            weekdaysFull: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            weekdaysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            format: 'yyyy-mm-dd'
        };
        $('.pickadate').pickadate(options);
    </script>
{% endblock %}