{% extends 'base/base_app.html' %}

{% block css %}
    <style>
        .project:hover{
            background-color: #eeeeee !important;
        }
        .select2-container{
            width: 100%;
            min-width: 100% !important;
        }

        .select2-selection--single{
            border: none !important;
            border-bottom: 1px solid #ddd!important;
            border-radius: 0!important;
            display: flex;
            align-items: center;

            height: auto!important;
        }

        .select2-search--dropdown:after{
            display: none;
        }

    </style>

{% endblock %}

{% block meta %}
    <title>Список проектов</title>
{% endblock %}


{% block page-header %}
    Список проектов
{% endblock %}

{% block header-buttons %}
    <a href="{% url 'project:create' %}" class="btn btn-primary m-1">Создать проект</a>
{% endblock %}



{% block content %}

    <div class="card">
        <div class="card-body">
            <form method="get">
                <div class="container-fluid">
                    <div class="row">
                        <div class="overflow-hidden col-10">{{ filter.form.name }}</div>
                        <div class="overflow-hidden col-2 p-1 d-flex justify-content-end">
                            <button type="submit" class="btn btn-light font-weight-bold text-black-50 btn-icon"><i class="icon-search4"></i> Искать</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body d-flex flex-column justify-content-between">
            <div class="results">
                {% for project in projects %}
                    <a href="{{ project.get_absolute_url }}" class="project d-flex col justify-content-between bg-light m-1 p-2">
                        <div class="col font-weight-bold text-black-50">{{ project.name }}</div>
                    </a>
                {% empty %}
                    <span class="text-black-50 font-weight-bold">На данный момент в системе нет проектов</span>
                {% endfor %}

            </div>
        </div>

        {% if is_paginated %}
            <div class="d-flex justify-content-center mt-3 mb-3">

                <ul class="pagination shadow-1">

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page=1" class="page-link page-link-white legitRipple"><<</a></li>
                        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link page-link-white legitRipple"><</a></li>
                    {% endif %}
                    <li class="page-item active"><a href="#" class="page-link page-link-white legitRipple">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link page-link-white legitRipple">></a></li>
                        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link page-link-white legitRipple">>></a></li>
                    {% endif %}
                </ul>
            </div>

        {% endif %}


    </div>
{% endblock %}

{% block script %}
    {{ filter.form.media }}
{% endblock %}